body {
    overflow: hidden;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    user-select: none;
    
    
    font-family: 'Press Start 2P', cursive;
}

#spawnBtn {
    position: absolute;
    top: 0;
}

#userinterface {
    position: absolute;

    color: white;
}

@keyframes flash {
    
    from    { left: 0px; }
    to      { left: 100px; }
}

@keyframes popin {
    0%      
    { 
        transform: scale(0, 0);
    }
    35%    
    { 
        transform: scale(1, 1);
    }
    75%
    {
        opacity: 100%;
        transform: scale(1, 1);
    }
    100%
    {
        opacity: 0%;
        transform: scale(0, 0);
    }
    
}

.popup {
    float: left;
    position: absolute;
    width: auto;
    height: auto;
    background: none;
    margin: 0 auto;
    padding: 15px;
    border-radius: 80px;
    text-shadow: 2px 2px rgba(0,0,0,1);
    
    animation-name: popin;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    
    transform: scale(0, 0);
}

#gloweffect {
    width: 30px;
    height: 80px;
    box-shadow: 0px 0px 100px white;
    position: absolute;
    top: 0px;
    border-radius: 100px;
    
    animation-name: flash;
    animation-duration: .5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes rot {
    from    { transform: ; }
    to      { transform: rotateZ(360deg); }
}

#view {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    
    background-image: url(../img/bg.png);
    background-size: 100%;
    image-rendering: pixelated;
    background-repeat: repeat;
    image-rendering: -moz-crisp-edges;
    
}

@keyframes pan {
    0% {
        background-position: 0vw 0vh;
    }
    100% {
        background-position: 100vw 100vh;
    }
}

#startscreen {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    
    background-image: url(../img/bg.png);
    background-size: 100%;
    image-rendering: pixelated;
    background-repeat: repeat;
    image-rendering: -moz-crisp-edges;
    
    box-shadow: inset 0px 0px 250px rgba(0,0,0,1);
    
    display:flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    animation-name: pan;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes headerBounce {
    0%      
    { 
        text-shadow: 0px 0px rgba(255,255,255,0.0);
/*        color: white;*/
        font-size: 200%;
        -webkit-transform: rotateZ(4deg);
    }
    25%     
    { 
        text-shadow: 4px 4px rgba(255,255,255,1.0);
/*        color: lightgrey;*/
    }
    50%     
    { 
        text-shadow: 0px 4px rgba(255,255,255,1.0);
/*        color: white;*/
        font-size: 210%;
    }
    75%     
    { 
        text-shadow: -4px 4px rgba(255,255,255,1.0);
/*        color: lightgrey;*/
    }
    100%    
    { 
        text-shadow: 0px 0px rgba(255,255,255,0.0);
/*        color: white;*/
        font-size: 200%;
        -webkit-transform: rotateZ(-4deg);
    }
    
    0% {color: #ff0000;}
    10% {color: #ff8000;}
    20% {color: #ffff00;}
    30% {color: #80ff00;}
    40% {color: #00ff00;}
    50% {color: #00ff80;}
    60% {color: #00ffff;}
    70% {color: #0080ff;}
    80% {color: #ffff00;}
    90% {color: #8000ff;}
    100% {color: #ff0080;}
}

@keyframes headerFlip {
    0% {transform: rotateX(180deg);}
    100% {transform: rotateX(-180deg);}
}

#header {
    color: white;
    position: absolute;
    font-weight: 700;
    font-size: 220%;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    top: 8%;
    
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    
    animation-name: headerBounce;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#selectionController {
    position: absolute;
    top: 22%;
    width: 100%;
    
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    
    padding-left: 12%;
    padding-right: 12%;
    
    border-spacing: 40px 0px;
    
}

#charSel {
    position: absolute;
}

#characterHeaders {
    background-color: darkgray;
    height: 25%;
}

#characterPortraits {
    color: black;
    height: 100%;
    
    background-blend-mode: screen;
    background-color: rgba(0, 0, 0, 0.7);
}

th {
    border: 2px solid white;
    border-radius: 25px 25px 0px 0px;
    font-size: 1.5rem;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*not working*/
@keyframes breath {
    from      {box-shadow: 0px 0px 25px white;}
    to        {box-shadow: 0px 0px 100px white;}
}

td {
    color: white;
    border: 2px solid white;
    border-top: 0px;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    padding: 10px;
}

td > img {
    width: calc(36 * 10px);
    height: calc(44 * 10px);
}

@keyframes expand {
    from    
    { 
        height: 0px;
    }
    to      
    { 
        height: 500px;
    } 
}

.expandingClass {
    
    animation-name: expand;
    animation-fill-mode: forwards;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
}

#backgroundElements {
    position: absolute;
    pointer-events: none;
}

#tutorial {
    position: absolute;
    line-height: 18px;
    font-size: 0.8em;
    
    color: white;
    
    top: 0;
    bottom: 0;
    left: 0;
    margin: 3% 0px 3% 10px;
    
    text-align: center;
    width: 8%;
    
    text-shadow: 0px 0px 50px rgba(255,255,255,1);
}

#holder {
    width: 100%;
    height: 25%;
}

#holder img {
    width: 100%;
    margin: 0 auto;
}



@keyframes scoreAnim {
    0% {color: #ff0000;}
    10% {color: #ff8000;}
    20% {color: #ffff00;}
    30% {color: #80ff00;}
    40% {color: #00ff00;}
    50% 
    {
        color: #00ff80;
        bottom: 6%;
    }
    60% {color: #00ffff;}
    70% {color: #0080ff;}
    80% {color: #ffff00;}
    90% {color: #8000ff;}
    100% {color: #ff0080;}
}

#ScoreElement {
    color: white;
    position: absolute;
    font-weight: 700;
    font-size: 220%;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    bottom: 4%;
    
    text-shadow: 0px 0px 100px rgba(0,0,0,1);
    
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.scoreAnimation {
    animation-name: scoreAnim;
    animation-duration: 0.2s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
}



















